{% extends 'base.html' %}


{% block title %}
  <title>K means Clustering Visualizer</title>
{% endblock title %}


{% block body %}
<div class="container col-md-6 mx-auto my-5">
  <form method="post" action="/" enctype="multipart/form-data">
    <div class="mb-3">
        <h1 style="text-align: center;color: blueviolet;">K MEANS CLUSTER VISUALISATION</h1>
      <label for="dataset" class="form-label">Please upload the dataset in CSV format</label>
      <input class="form-control" type="file" id="dataset" name="dataset" >
    </div>
    <h5 class="fw-bold", style="color: coral;">Choose the Preprocessing Parameters</h5>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="norm" value="norm" name="norm">
      <label class="form-check-label" for="norm">Normalization</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="pca" value="pca" name="pca">
      <label class="form-check-label" for="pca">Principal Component Analysis</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="trans" value="trans" name="trans">
      <label class="form-check-label" for="trans">Transformation</label>
    </div>
    <br class="mb-3">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock body %}